{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <section class="ftco-section bg-light">
        <div class="container">
            <h1>Créer une categorie</h1>

            {{ include('admin/categorie/_form.html.twig') }}

            <a href="{{ path('admin_categorie_index') }}">Retourner à la liste</a>
        </div>
    </section>
{% endblock %}