{% extends 'base.html.twig' %}

{% block title %}New Competences{% endblock %}

{% block body %}
    <h1>Create new Competences</h1>

    {{ include('admin/competences/_form.html.twig') }}

    <a href="{{ path('competences_index',{"lang": app.request.get('lang')}) }}">back to list</a>
{% endblock %}
