{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}


    <section class="hero-wrap hero-wrap-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 pt-5 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a href="{{ path('home') }}">Home <i class="fa fa-chevron-right"></i></a></span> <span>Security <i class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Connexion</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="d-flex justify-content-center">
            <div class="row no-gutters justify-content-center">
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    {% if error %}
                                        <p class="mb-4 alert alert-danger">{{ error.messageKey | trans(error.messagedata, 'security') }}</p>
                                    {% endif %}

                                    <form action="{{ path('login') }}" method="post">
                                        <div class="row">
                                            <div class="col-md-12 mb-2">
                                                <div class="form-group">
                                                    <input type="text" required style="border-radius: 10px;"  class="form-control" name="_username" placeholder="Nom d'utilisateur">
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input class="form-control" required style="border-radius: 10px;" type="password" name="_password" placeholder="Password">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button type="submit" style="border-radius: 5px;" class="btn btn-primary">Connexion</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
