{% extends 'base.html.twig' %}

{% block title %}New Realisation{% endblock %}

{% block body %}
<section class="ftco-section bg-light">
    <div class="container">
    <h1>Créer une nouvelle réalisation</h1>

    {{ include('admin/realisation/_form.html.twig') }}

    <a href="{{ path('admin_realisation_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
