{% extends 'base.html.twig' %}

{% block title %}New Realisation{% endblock %}

{% block body %}
    <h1>Create new Realisation</h1>

    {{ include('admin/experience/_form.html.twig') }}

    <a href="{{ path('realisation_index',{"lang": app.request.get('lang')}) }}">back to list</a>
{% endblock %}
