{% extends 'base.html.twig' %}

{% block title %}Éditer le parcours{% endblock %}

{% block body %}
<section class="ftco-section bg-light">
    <div class="container">
    <h1>Éditer le parcours</h1>

    {{ include('admin/parcours/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('admin/parcours/_delete_form.html.twig') }}

    <a href="{{ path('admin_parcours_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
