{% extends 'base.html.twig' %}

{% block title %}New Parcours{% endblock %}

{% block body %}
    <h1>Create new Parcours</h1>

    {{ include('admin/parcours/_form.html.twig') }}

    <a href="{{ path('admin_parcours_index') }}">back to list</a>
{% endblock %}
