{% extends 'base.html.twig' %}
{% block title "404" %}
{% block body %}
    <main class="bg-white pt-80 pb-50">
        <div class="container">
            <div class="row pt-80">
                <div class="col-lg-6 col-md-12 d-lg-block d-none pr-50"><img src="build/img/page-not-found.png" alt=""></div>
                <div class="col-lg-6 col-md-12 pl-50 text-md-center text-lg-left">
                    <h1 class="mb-30 font-weight-900 page-404">404</h1>
                    <p class="">Le lien sur lequel vous avez cliqué est peut-être rompu ou la page a peut-être été supprimée.<br>
                    </p>
                    <div class="form-group">
                        <button type="submit" class="button button-contactForm mt-30"><a class="text-white" href="{{ path('home') }}">Accueil</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}