{% extends 'base.html.twig' %}

{% block title %}Edit Experience{% endblock %}

{% block body %}
    <h1>Edit Experience</h1>

    {{ include('admin/experience/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_experience_index',{"lang": app.request.get('lang')}) }}">back to list</a>

    {{ include('admin/experience/_delete_form.html.twig') }}
{% endblock %}
