{% extends 'base.html.twig' %}

{% block title %}New Experience{% endblock %}

{% block body %}
    <h1>Create new Experience</h1>

    {{ include('admin/experience/_form.html.twig') }}

    <a href="{{ path('admin_experience_index',{"lang": app.request.get('lang')}) }}">back to list</a>
{% endblock %}
