<footer class="ftco-footer">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0 copyright"> <strong>&copy {{ translate('ownerFullName') }} - {{ "now"|date("Y") }} - Repository Github :
                        <a href="{{ translate('githubRepo') }}" target="_blank">Here</a> </strong> </p>            </div>
        </div>
    </div>
</footer>