{% extends 'base.html.twig' %}

{% block title %}New Produits{% endblock %}

{% block body %}
<section class="ftco-section bg-light">
    <div class="container">
    <h1>Create new Produits</h1>

    {{ include('admin/produits/_form.html.twig') }}

    <a href="{{ path('admin_produits_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
