{{ form_start(form) }}
    <div class="form-group mb-2">
        <label>Nom : </label>
        {{ form_widget(form.nom) }}
    </div>
    <button class="btn btn-primary mb-3 mt-3" style="border-radius: 5px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
