{% extends 'base.html.twig' %}

{% block title %}New CompetencesCategories{% endblock %}

{% block body %}
    <h1>Create new CompetencesCategories</h1>

    {{ include('admin/competences_categories/_form.html.twig') }}

    <a href="{{ path('competences_categories_index',{"lang": app.request.get('lang')}) }}">back to list</a>
{% endblock %}
