{% extends 'base.html.twig' %}

{% block title %}New CompetencesCategories{% endblock %}

{% block body %}
<section class="ftco-section bg-light">
    <div class="container">
    <h1>Créer une nouvelle Compétence Catégorie</h1>

    {{ include('admin/competences_categories/_form.html.twig') }}

    <a href="{{ path('admin_competences_categories_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
