<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">

    <link rel="stylesheet" href="/build/css/animate.css">
    <link rel="stylesheet" href="/build/css/flaticon.css">
    <link rel="stylesheet" href="/build/css/tiny-slider.css">
    <link rel="stylesheet" href="/build/css/glightbox.min.css">
    <link rel="stylesheet" href="/build/css/aos.css">
    <link rel="stylesheet" href="/build/css/style.css">

    <!-- Font / ScrollTools  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="https://www.paypalobjects.com/api/checkout.js"></script> -->
    <script src="https://kit.fontawesome.com/54309b8d30.js" crossorigin="anonymous"></script>
    <script>
        function alertPlugin(title,content,type){
            swal(title, content, type);
        }
    </script>

    <style>
        .select2-container {
            width: auto !important;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
          integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
          crossorigin="anonymous"/>
    {% block inline_css %}{% endblock %}

    <title>{% block title %}Portfolio Mathys Theolade {% endblock %}</title>


</head>
<body>
<nav class="navbar ftco-navbar-light"><!-- navbar-expand-lg  -->
    <div class="container-xl">
        <a class="navbar-brand align-items-center" href="{{ path('home',{"lang": app.request.get("lang")}) }}">
            <span class="">{{ translate('websiteName',app.request.get('lang')) }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="experience.html">Experiences</a></li>
                <li class="nav-item"><a class="nav-link" href="work.html">Works</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
            <!-- <p class="mb-0"><a href="#" class="btn btn-primary rounded">Submit A Property</a></p> -->
        </div>
    </div>
</nav>

    {% block body %} {%  endblock %}



    <!-- JS -->
    <script src="/build/js/bootstrap.bundle.min.js"></script>
    <script src="/build/js/tiny-slider.js"></script>
    <script src="/build/js/glightbox.min.js"></script>
    <script src="/build/js/aos.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/build/js/main.js"></script>


    <script>
        function sendAjaxRequest(url,dataType,param = null,method = "POST"){
            return $.ajax({
                url: "/api/"+url,
                method: method,
                data: {
                    explode: param
                },
                dataType: dataType,
                async: true
            })
        }
    </script>
    <!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous"></script>
    <script>
        $('select').select2();
    </script>

    {% block script %}{% endblock %}
</div>
</body>
</html>
