{% extends 'base.html.twig' %}

{% block title %}New Presentation{% endblock %}

{% block body %}
    <h1>Create new Presentation</h1>

    {{ include('admin/presentation/_form.html.twig') }}

    <a href="{{ path('presentation_index',{"lang": app.request.get("lang")}) }}">back to list</a>
{% endblock %}
